 body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Cor de fundo suave */
}
 
 #barraNavegação {
    background-color: #003366; /* Azul escuro combinando com a marca */
    padding: 15px;
    text-align: center;
    border-radius: 0 0 10px 10px; /* Arredonda apenas as pontas de baixo */
}

#barraNavegação a {
    color: white;
    text-decoration: none; /* Remove o sublinhado padrão */
    margin: 0 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    width: 100%;
}

/* Estilo dos Títulos */
h1 {
    text-align: center;
    color: #003366;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 30px;
}

p {
    text-align: center;
    color: #000000;
    font-family: 'Segoe UI', sans-serif;
}

.subtitulo {
    font-style: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
 
 #banner {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 40px 20px;
    background-color: #f0f4f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

 #banner > div {
    flex: 1;
    min-width: 300px; /* Garante que não fiquem esmagados */
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    }

.imagemHome, .imagemLogistica {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    }

#sobre{
    margin: 0 auto;
    padding: 20px;
}

#missaoValores, #oqueFazemos {
    display: grid;
    grid-template-columns: 300px 1fr; /* Coluna para ícones e coluna para texto */
    align-items: center;
    margin-bottom: 50px;
    text-align: left;
    justify-content: space-around;
    gap: 40px;
    padding: 40px 20px;
    background-color: #e8f0fe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 30px;


    }

#oqueFazemos p, #missaoValores li {
    color: rgb(73, 72, 72);
}
#redesSociais {
    /* display: flex; */
    justify-content: center;
    padding: 20px;
    background-color: #003366;
    border-radius: 10px 10px 0 0; /* Arredonda apenas as pontas de cima */
    color: white;
}

#redesSociais p {
    color: white;
    text-decoration: none;
    font-size: 1.0em;
}

#redesSociais a {
    color: rgb(243, 255, 134);
    text-decoration: none;
    font-size: 1.5em;
}

#redesSociais img {
    width: 30px;
    height: 30px;
}

.iconesRedes {
    margin: 0 auto;
    text-align: center;
}

#anuncios {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 40px 20px;
    background-color: #f0f4f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bannerAnuncio > div {
    display: grid;
    grid-template-columns: 2fr; /* Coluna única para o conteúdo */
    flex: auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}


.imgAnuncios {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.containerForm{
    width: 100%;
    height: auto;
    align-items: center;
    background-color: #e8f0fe;
    border-radius: 10px;
    margin: 0 auto;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

.form button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.0em;
}